@import "~@metaexplorer/core/lib/style.css";
@import "~@metaexplorer-mods/itpt-editor/lib/style.css";
@import "~@metaexplorer-mods/material-design/lib/style.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.demo-img {
  height: 250px;
  width: 250px;
}

.appcontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}